<ion-view view-title="Leaflet">
  <ion-content>
    <!--overflow-scroll="true" style="overflow: hidden" 该属性加到ion-content上是固定页面不让其拖动-->
    <div ng-init="init()" id="map" style="width: 100%;height: 600px;overflow: hidden;margin:0;font-family:'微软雅黑';"></div>
    <!--<button ng-click="refresh()">测试</button>-->
    <div class="row">
      <div class="col">
        <ion-scroll>
          <ion-list>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
            <ion-item class="item-checkbox">
              <label class="checkbox">
                <input type="checkbox">
              </label>
              <h2>App ideas</h2>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
      <div class="col">

      </div>
      <div class="col">

      </div>
    </div>

  </ion-content>

</ion-view>